
.wrapper {
    margin-top: 2em;
    width: 80%;
    max-width: 550px;
    margin: 2em auto 0;
}

.form-label {
    margin-top: .7em;
    margin-bottom: .3em;
}

fieldset {
    margin-top: 2em;
}

.form-legend + .form-group > .form-label:first-child {
    margin-top: 0;
}


li {
    display: inline;
    padding-right: 2%;
    font-size: 30px;
}

#home :hover{
    background: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#post :hover{
    background: rgb(255, 136, 0);
    color: rgb(255, 136, 0);
}

#blog :hover{
    background: yellow;
    color: yellow;
}

#others :hover{
    background: rgb(150, 0, 255);
    color:  rgb(150, 0, 255);
}

body {
    font-size: large;
}

