
.wrapper {
    margin-top: 2em;
    width: 80%;
    max-width: 550px;
    margin: 2em auto 0;
}

.form-label {
    margin-top: .7em;
    margin-bottom: .3em;
}

fieldset {
    margin-top: 2em;
}

.form-legend + .form-group > .form-label:first-child {
    margin-top: 0;
}

li :hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 225, 0);
}

li {
    display: inline;
    padding-right: 4%;
    font-size: 30px;
}


body {
    font-size: large;
}

form {
    text-align: center;
}


#time {
    font-size: small;
    color: rgb(162, 158, 199);
}

#title {
    font-size: 20px;
    font-weight: bold;
}

#newpost {
    font-size: medium;
    color: black;
    font-weight: bold;
}

.ul {
    width: auto;
    border: 1px solid black;
    height: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(170, 170, 170);
}